# Files stuff
.coverage
make.bat
Makefile

# Folders stuff
experiment/
.idea/
.tox/

# Setuptools stuff
build/
dist/
python_hdwallet.egg-info/

# Python stuff
__pycache__/

# py.test stuff
.pytest_cache/
