# Files stuff
.coverage
make.bat
Makefile

# Folders stuff
env/
experiment/
.idea/
.tox/
.vs/

# Setuptools stuff
build/
dist/
hdwallet.egg-info/

# Python stuff
__pycache__/

# py.test stuff
.pytest_cache/
