language: python
dist: xenial
sudo: true
install:
  - sudo add-apt-repository -y ppa:deadsnakes/ppa
  - sudo apt-get update
  - sudo apt-get install -y python$TRAVIS_PYTHON_VERSION-dev
  - pip install -e .[tests] tox-travis coveralls
matrix:
  include:
  - name: "3.6"
    python: 3.6
  - name: "3.7"
    python: 3.7
  - name: "3.8"
    python: 3.8
script: tox
after_success: if [ "${TRAVIS_PYTHON_VERSION}" == "3.8" ]; then coveralls; fi;